title = "Avoid importing part files directly"
weight = 70
severity = "major"
category = "bug-risk"
dimension = "reliability"
verbose_name = "import_of_non_library"
description = '''
The analyzer produces this diagnostic when a [part file](https://dart.dev/resources/glossary#part-file) is imported
into a library.

#### Example

Given a [part file](https://dart.dev/resources/glossary#part-file) named `part.dart` containing the following:

```dart
part of lib;
```

The following code produces this diagnostic because imported files can't
have a part-of directive:

```dart
library lib;

import 'part.dart';
```

#### Common fixes

Import the library that contains the [part file](https://dart.dev/resources/glossary#part-file) rather than the
[part file](https://dart.dev/resources/glossary#part-file) itself.

'''
