title = "The list of named fields in a record type can't be empty"
weight = 70
severity = "major"
category = "bug-risk"
dimension = "reliability"
verbose_name = "empty_record_type_named_fields_list"
description = '''
The analyzer produces this diagnostic when a record type has an empty list
of named fields.

#### Example

The following code produces this diagnostic because the record type has an
empty list of named fields:

```dart
void f((int, int, {}) r) {}
```

#### Common fixes

If the record is intended to have named fields, then add the types and
names of the fields:

```dart
void f((int, int, {int z}) r) {}
```

If the record isn't intended to have named fields, then remove the curly
braces:

```dart
void f((int, int) r) {}
```
'''
