title = "Unused exception variable in catch clause"
weight = 70
severity = "major"
category = "bug-risk"
dimension = "reliability"
verbose_name = "unused_catch_clause"
description = '''
The analyzer produces this diagnostic when a `catch` clause is found, and
neither the exception parameter nor the optional stack trace parameter are
used in the `catch` block.

#### Example

The following code produces this diagnostic because `e` isn't referenced:

```dart
void f() {
  try {
    int.parse(';');
  } on FormatException catch (e) {
    // ignored
  }
}
```

#### Common fixes

Remove the unused `catch` clause:

```dart
void f() {
  try {
    int.parse(';');
  } on FormatException {
    // ignored
  }
}
```

'''
