title = "List literals should have at most one type argument"
weight = 70
severity = "major"
category = "bug-risk"
dimension = "reliability"
verbose_name = "expected_one_list_type_arguments"
description = '''
The analyzer produces this diagnostic when a list literal has more than one
type argument.

#### Example

The following code produces this diagnostic because the list literal has
two type arguments when it can have at most one:

```dart
var l = <int, int>[];
```

#### Common fixes

Remove all except one of the type arguments:

```dart
var l = <int>[];
```

'''
