title = "Do not use environment declared variables"
weight = 70
severity = "major"
category = "antipattern"
dimension = "reliability"
verbose_name = "do_not_use_environment"
description = '''
Using values derived from the environment at compile-time, creates
hidden global state and makes applications hard to understand and maintain.

**DON'T** use `fromEnvironment` or `hasEnvironment` factory constructors.

**BAD:**
```dart
const loggingLevel =
  bool.hasEnvironment('logging') ? String.fromEnvironment('logging') : null;
```
'''
