title = "Cannot implement `Finalizable` for a subclass of `Struct` or `Union`"
weight = 70
severity = "major"
category = "bug-risk"
dimension = "reliability"
verbose_name = "compound_implements_finalizable"
description = '''
The analyzer produces this diagnostic when a subclass of either `Struct`
or `Union` implements `Finalizable`.

For more information about FFI, see [C interop using dart:ffi](https://dart.dev/interop/c-interop).

#### Example

The following code produces this diagnostic because the class `S`
implements `Finalizable`:

```dart
import 'dart:ffi';

final class S extends Struct implements Finalizable {
  external Pointer notEmpty;
}
```

#### Common fixes

Try removing the implements clause from the class:

```dart
import 'dart:ffi';

final class S extends Struct {
  external Pointer notEmpty;
}
```

'''
