title = "Mixins can't be instantiated"
weight = 70
severity = "major"
category = "bug-risk"
dimension = "reliability"
verbose_name = "mixin_instantiate"
description = '''
The analyzer produces this diagnostic when a mixin is instantiated.

#### Example

The following code produces this diagnostic because the mixin `M` is being
instantiated:

```dart
mixin M {}

var m = M();
```

#### Common fixes

If you intend to use an instance of a class, then use the name of that
class in place of the name of the mixin.
'''
