title = "Conflicting names for named constructor and static member"
weight = 70
severity = "major"
category = "bug-risk"
dimension = "reliability"
verbose_name = "conflicting_constructor_and_static_member"
description = '''
The analyzer produces this diagnostic when a named constructor and either a
static method or static field have the same name. Both are accessed using
the name of the class, so having the same name makes the reference
ambiguous.

#### Examples

The following code produces this diagnostic because the static field `foo`
and the named constructor `foo` have the same name:

```dart
class C {
  C.foo();
  static int foo = 0;
}
```

The following code produces this diagnostic because the static method `foo`
and the named constructor `foo` have the same name:

```dart
class C {
  C.foo();
  static void foo() {}
}
```

#### Common fixes

Rename either the member or the constructor.

'''
