title = "Sort constructor declarations before other members"
weight = 70
severity = "major"
category = "antipattern"
dimension = "hygiene"
verbose_name = "sort_constructors_first"
description = '''
**DO** sort constructor declarations before other members.

**BAD:**
```dart
abstract class Visitor {
  double value;
  visitSomething(Something s);
  Visitor();
}
```

**GOOD:**
```dart
abstract class Animation<T> {
  const Animation(this.value);
  double value;
  void addListener(VoidCallback listener);
}
```
'''
