title = "Avoid library directives unless they have documentation comments or annotations"
weight = 70
severity = "major"
category = "antipattern"
dimension = "hygiene"
verbose_name = "unnecessary_library_directive"
description = '''
**DO** use library directives if you want to document a library and/or annotate 
a library.

**BAD:**
```dart
library;
```

**GOOD:**
```dart
/// This library does important things
library;
```

```dart
@TestOn('js')
library;
```

NOTE: Due to limitations with this lint, libraries with parts will not be
flagged for unnecessary library directives.
'''
