title = "Prefer if elements to conditional expressions where possible"
weight = 70
severity = "major"
category = "antipattern"
dimension = "hygiene"
verbose_name = "prefer_if_elements_to_conditional_expressions"
description = '''
When building collections, it is preferable to use `if` elements rather than
conditionals.

**BAD:**
```dart
var list = ['a', 'b', condition ? 'c' : null].where((e) => e != null).toList();
```

**GOOD:**
```dart
var list = ['a', 'b', if (condition) 'c'];
```
'''
