title = "Avoid defining unused parameters in constructors"
weight = 70
severity = "major"
category = "antipattern"
dimension = "hygiene"
verbose_name = "avoid_unused_constructor_parameters"
description = '''
**AVOID** defining unused parameters in constructors.

**BAD:**
```dart
class BadOne {
  BadOne(int unusedParameter, [String unusedPositional]);
}

class BadTwo {
  int c;

  BadTwo(int a, int b, int x) {
    c = a + b;
  }
}
```
'''
