title = "Prefer to use whereType on iterable"
weight = 70
severity = "major"
category = "antipattern"
dimension = "hygiene"
verbose_name = "prefer_iterable_whereType"
description = '''
**PREFER** `iterable.whereType<T>()` over `iterable.where((e) => e is T)`.

**BAD:**
```dart
iterable.where((e) => e is MyClass);
```

**GOOD:**
```dart
iterable.whereType<MyClass>();
```
'''
