title = "Invalid element type in for-in loop"
weight = 70
severity = "major"
category = "bug-risk"
dimension = "reliability"
verbose_name = "for_in_of_invalid_element_type"
description = '''
The analyzer produces this diagnostic when the `Iterable` or `Stream` in a
for-in loop has an element type that can't be assigned to the loop
variable.

#### Example

The following code produces this diagnostic because `<String>[]` has an
element type of `String`, and `String` can't be assigned to the type of `e`
(`int`):

```dart
void f() {
  for (int e in <String>[]) {
    print(e);
  }
}
```

#### Common fixes

If the type of the loop variable is correct, then update the type of the
iterable:

```dart
void f() {
  for (int e in <int>[]) {
    print(e);
  }
}
```

If the type of the iterable is correct, then update the type of the loop
variable:

```dart
void f() {
  for (String e in <String>[]) {
    print(e);
  }
}
```

'''
