title = "Uninitialized state variables"
verbose_name = "uninitialized-state"
severity = "critical"
category = "antipattern"
dimension = "reliability"
weight = 80
description = """
Uninitialized state variables.

<!--more-->

## Exploit Scenario

```solidity
contract Uninitialized{
    address destination;

    function transfer() payable public{
        destination.transfer(msg.value);
    }
}
```
Bob calls `transfer`. As a result, the Ether are sent to the address `0x0` and are lost.


## Recommendation

Initialize all the variables. If a variable is meant to be initialized to zero, explicitly set it to zero to improve code readability.


## Learn more
[uninitialized-state](https://github.com/crytic/slither/wiki/Detector-Documentation#uninitialized-state-variables) on Slither's wiki.
"""
