title = "Incorrect ERC721 interfaces"
verbose_name = "erc721-interface"
severity = "major"
category = "antipattern"
dimension = "reliability"
weight = 60
description = """
Incorrect return values for `ERC721` functions. A contract compiled with solidity > 0.4.22 interacting with these functions will fail to execute them, as the return value is missing.

<!--more-->

## Exploit Scenario

```solidity
contract Token{
    function ownerOf(uint256 _tokenId) external view returns (bool);
    //...
}
```
`Token.ownerOf` does not return an address like `ERC721` expects. Bob deploys the token. Alice creates a contract that interacts with it but assumes a correct `ERC721` interface implementation. Alice's contract is unable to interact with Bob's contract.

## Recommendation
Set the appropriate return values and vtypes for the defined `ERC721` functions.

## Learn more
[erc721-interface](https://github.com/crytic/slither/wiki/Detector-Documentation#incorrect-erc721-interface) on Slither's wiki.
"""
