title = "Incorrect Solidity version"
verbose_name = "solc-version"
severity = "minor"
category = "antipattern"
dimension = "reliability"
weight = 40
description = """

`solc` frequently releases new compiler versions. Using an old version prevents access to new Solidity security checks.
We also recommend avoiding complex `pragma` statement.

<!--more-->

## Recommendation

Deploy with any of the following Solidity versions:
- 0.8.18

The recommendations take into account:
- Risks related to recent releases
- Risks of complex code generation changes
- Risks of new language features
- Risks of known bugs

Use a simple pragma version that allows any of these versions.
Consider using the latest version of Solidity for testing.

## Learn more
[solc-version](https://github.com/crytic/slither/wiki/Detector-Documentation#incorrect-versions-of-solidity) on Slither's wiki.
"""
