title = "Uninitialized local variables"
verbose_name = "uninitialized-local"
severity = "major"
category = "antipattern"
dimension = "reliability"
weight = 60
description = """
Uninitialized local variables.

<!--more-->

## Exploit Scenario

```solidity
contract Uninitialized is Owner{
    function withdraw() payable public onlyOwner{
        address to;
        to.transfer(this.balance)
    }
}
```
Bob calls `transfer`. As a result, all Ether is sent to the address `0x0` and is lost.

## Recommendation
Initialize all the variables. If a variable is meant to be initialized to zero, explicitly set it to zero to improve code readability.

## Learn more
[uninitialized-local](https://github.com/crytic/slither/wiki/Detector-Documentation#uninitialized-local-variables) on Slither's wiki.
"""
